<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <%= @article.title %>
   <%
=begin%>
 <% form_with model:
<%
=end%>
    <% @article.tags.each do |tag| %>
      <span class="badge rounded-pill bg-primary"><%= tag.name%></span>
    <% end %>
  </div>
  <div class="card-body">
    <%= @article.content %>
  </div>
</div>


 <% if user_signed_in? %>
<% if @article.user_id == current_user.id %>

 <%
=begin%>
 <% if current_user&.id == @article.user_id %>
<%
=end%>
  <%= link_to("編集", edit_article_path) %>

 <% else %>
  <td></td>
  <td></td>

<% end %>

<%= link_to '一覧', articles_path, class: "btn btn-secondary" %>
<% end %>
 <%
=begin%>
 <% if @article.user_id == current_user.id %>
<%
=end%>
  <%
=begin%>
 <td><%= link_to '詳細', article, class: "btn btn-success" %><td>
  <td><%= link_to "編集", edit_article_path %></td>
  <%
<%
=end%>
<%
=begin%>
 =begin%>
 <td><%= link_to '削除', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%
=end%>




<%
=begin%>
 <%= link_to '消す', article, method: :delete, data: { confirm: '本当に消す?' } %>
<%
=end%>

<%
=begin%>
 <% end %>
<%
=end%>




 <%
=begin%>
 <% if @article.user_id == current_user.id %>
  <%= link_to("編集","users/#{@article.id}/edit") %>
  <%= link_to("削除","users/#{@article.id}/destroy",{method:"post"}) %>
<% else %>
  <td></td>
  <td></td>
<% end %>
<%
=end%>
